h1 { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
Table, th, td {
    border: thin solid rgba(0, 0, 0, 0.836);
 }
 th {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
 td {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
 #drei {float: left; background-color: darkgray; margin-top: 10px; border: 1px solid; padding: 10px;}
 body{background-color: rgb(8, 102, 102);}
 a {color: navy; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-content: center;
    }
    
    li {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    align-content: center;
    }
    
    li.dropdown {
    display: inline-block;
    align-self: center;
    }
     #leiste{color: #f1f1f1; background-color: rgb(8, 17, 2); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger; text-align: center;}
    .dropdown-content a:hover {background-color: #f1f1f1; }
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    #zwei {margin-top: 5px; font-size: xx-large;}
    #neun {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #f1f1f1;}
    ul {width: 15em; margin: 0 auto;}
    .Überschrift {font-size: large; font-family: sans-serif, Times, serif; color: #f1f1f1;}
    .Text{font-size: small; font-family: Arial, Helvetica, sans-serif; color: #f1f1f1;} 
    .textfeld{margin-right: 1px; margin-top: 15px; border:black; border: dashed; float: left; background-color:#5e2028; border-right: 300px;}
    a {text-align: right; color: red;}
.fünf {
  display: inline-block;
}
#link {padding-bottom: 12px;}
