h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Table,
th,
td {
  border: thin solid rgba(0, 0, 0, 0.836);
}

th {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: rgb(137, 176, 185);
}

a {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(36, 33, 33);
  align-content: center;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  outline: white;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(201, 175, 175);
  align-content: center;
}

li.dropdown {
  display: inline-block;
  align-self: center;
}

#leiste {
  color: #f1f1f1;
  background-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#underline {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#zwei {
  font-size: xx-large;
}

ul {
  width: 15em;
  margin: 0 auto;
}

.Überschrift {
  font-size: large;
  font-family: sans-serif, Times, serif;
  color: #f1f1f1;
  padding-top: 2%;
}

.Text {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  padding-bottom: 3%;
}

.textfeld {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

a {
  text-align: right;
  color: rgb(255, 255, 255);
}

.fünf {
  display: inline-block;
}

#link {
  padding-bottom: 12px;
}

.list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: gainsboro;
  text-align: center;
}

#header {
  color: rgb(122, 82, 82);
}
